In [1]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [4]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3, 5],
         'below_zero': [True, False, False, False],
        'year': [2020, 2020, 2020, 2020]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [8]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True

In [9]:
df.to_json("../data/Library_Usage.json")

In [10]:
# import the package stats from the library scipy
from scipy import stats

# create two numerical arrays
x = [12, 10, 11, 13, 14, 10, 13, 13, 22]
y = [1, 4, 2, 3, 5, 2, 1, 0, 0, 1, 2]

# perform a two sample t-test, to test if the samples have different means
stats.ttest_ind(x,y)

Ttest_indResult(statistic=9.281138146360542, pvalue=2.7794419042727725e-08)

In [12]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)
df['dummy_variable'] = 5

0          0
1          0
2          0
3          0
4          0
          ..
437110    11
437111     0
437112     0
437113     0
437114     9
Name: Total Renewals, Length: 437115, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                    0                0
2                    0                0
3                    0                0
4                    0                0
...                ...              ...
437110              11               14
437111               0                2
437112               0                5
437113               0                4
437114               9                3

[437115 rows x 2 columns]

In [13]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [18]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
40624,0,Adult,11421,64,60 to 64 years,n6,North Beach,January,2023.0,z,Email,True,2003,True
40679,0,Adult,34834,622,55 to 59 years,o7,Ortega,January,2023.0,z,Email,True,2003,True
40711,3,Senior,10712,893,65 to 74 years,c2,Chinatown,January,2023.0,z,Email,True,2003,True
40917,0,Adult,11647,1135,60 to 64 years,c2,Chinatown,January,2023.0,z,Email,True,2003,True
41491,3,Senior,18026,1361,75 years and over,x,Main,January,2023.0,z,Email,True,2003,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368403,0,Adult,14103,1373,45 to 54 years,c2,Chinatown,October,2020.0,p,Phone,False,2003,True
372985,3,Senior,10135,84,75 years and over,x,Main,September,2020.0,p,Phone,False,2010,True
381371,0,Adult,10698,4343,35 to 44 years,p3,Parkside,April,2020.0,z,Email,True,2003,True
395055,0,Adult,10243,981,55 to 59 years,c2,Chinatown,February,2020.0,p,Phone,False,2003,True
416854,3,Senior,20411,2606,65 to 74 years,x,Main,August,2019.0,p,Phone,False,2003,True

In [19]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
40624,0,Adult,11421,64,60 to 64 years,n6,North Beach,January,2023.0,z,Email,True,2003,True
40679,0,Adult,34834,622,55 to 59 years,o7,Ortega,January,2023.0,z,Email,True,2003,True
40711,3,Senior,10712,893,65 to 74 years,c2,Chinatown,January,2023.0,z,Email,True,2003,True
40917,0,Adult,11647,1135,60 to 64 years,c2,Chinatown,January,2023.0,z,Email,True,2003,True
41491,3,Senior,18026,1361,75 years and over,x,Main,January,2023.0,z,Email,True,2003,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368403,0,Adult,14103,1373,45 to 54 years,c2,Chinatown,October,2020.0,p,Phone,False,2003,True
372985,3,Senior,10135,84,75 years and over,x,Main,September,2020.0,p,Phone,False,2010,True
381371,0,Adult,10698,4343,35 to 44 years,p3,Parkside,April,2020.0,z,Email,True,2003,True
395055,0,Adult,10243,981,55 to 59 years,c2,Chinatown,February,2020.0,p,Phone,False,2003,True
416854,3,Senior,20411,2606,65 to 74 years,x,Main,August,2019.0,p,Phone,False,2003,True

In [20]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

Empty DataFrame
Columns: [Patron Type Code, Patron Type Definition, Total Checkouts, Total Renewals, Age Range, Home Library Code, Home Library Definition, Circulation Active Month, Circulation Active Year, Notice Preference Code, Notice Preference Definition, Provided Email Address, Year Patron Registered, Within San Francisco County]
Index: []

In [21]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

Empty DataFrame
Columns: [Patron Type Code, Patron Type Definition, Total Checkouts, Total Renewals, Age Range, Home Library Code, Home Library Definition, Circulation Active Month, Circulation Active Year, Notice Preference Code, Notice Preference Definition, Provided Email Address, Year Patron Registered, Within San Francisco County]
Index: []

In [22]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

In [23]:
#2.6 Filtern
print(len(df[df['Age Range'] == '0 to 9 years']))

34642

In [24]:
print(len(df[df['Total Checkouts'] > 20000]))

9

In [29]:
print(len(df[df['Patron Type Code'].isin([1, 2, 3])]))

146473

In [30]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True

In [31]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,437115.000000,437115,437115.000000,437115.000000,436188,437113,437115,396523,396523.000000,437115,437115,437115,437115.000000,437115
unique,NaN,18,NaN,NaN,10,67,30,12,NaN,4,4,2,NaN,2
top,NaN,Adult,NaN,NaN,25 to 34 years,x,Main,January,NaN,z,Email,True,NaN,True
freq,NaN,271588,NaN,NaN,92790,143467,143471,147097,NaN,391614,391614,391563,NaN,369259
mean,1.085808,NaN,161.085055,75.726557,NaN,NaN,NaN,NaN,2021.678579,NaN,NaN,NaN,2015.128570,NaN
std,3.418133,NaN,533.528174,296.740804,NaN,NaN,NaN,NaN,1.471304,NaN,NaN,NaN,5.993034,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,2003.000000,NaN
25%,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,2011.000000,NaN
50%,0.000000,NaN,7.000000,3.000000,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,2017.000000,NaN
75%,1.000000,NaN,81.000000,33.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2020.000000,NaN
max,104.000000,NaN,45380.000000,11321.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2022.000000,NaN

In [32]:
print(df.min())
print(df['Total Renewals'].min())

Patron Type Code                     0
Patron Type Definition           Adult
Total Checkouts                      0
Total Renewals                       0
Home Library Definition           Anza
Circulation Active Year         2004.0
Notice Preference Code               -
Notice Preference Definition     Email
Provided Email Address           False
Year Patron Registered            2003
Within San Francisco County      False
dtype: object
0

/tmp/ipykernel_3946/2524581452.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.min())

In [33]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

23872